/* estilosCoti.css */

body {
    font-family: Arial, sans-serif;
  }
  
  #contenedor {
    text-align: center;
    background-color: rgb(237, 237, 237);
  }
  
  #encabezado {
    margin-bottom: 25px;
    background-color: #6d0a0a;
    color: #fff;
    padding: 15px;
  }
  
  h1 {
    color: #676767;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
  }
  
  h2 {
    color: #666;
    font-size: 18px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  span {
    font-weight: bold;
  }
  
  input[type="text"][readonly] {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #Calculos {
    margin-top: 50px;
    text-align: center;
    color: #000000;
  }

  #pieNavegacion {
    margin-top: 50px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 10px;
  }
  
  footer {
    margin: 0;
  }