*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: left;
    background-color: antiquewhite;
}

.contenedor {
    width: 900px;
    height: 1200px;
    margin: 100px auto;
    padding: 20px;
    text-align: left;
    color: rgb(11, 12, 12);
    border-radius: 60px;
    border-style: groove;
    border-width: 40px;
    border-color: #ab6804;
    background-color: rgb(247, 223, 193);
}

h1 {
    margin-bottom: 25px;
}

p {
    display: block;
    margin-bottom: 10px;
    font-size: 22px; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .sexo{
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 240px;
    margin-right: 10px;
}

.sexo li{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
}

.sexo input{
    margin-top: -3px;
    margin-left: 0;
    margin-right: 5px;
    vertical-align: middle;
}

.sexo label{
    margin-left: 0;
    margin-right: 5px;
}

#calculadora {
    margin-bottom: 20px;
}

input[type="number"]{
 padding: 10px;
 margin-right: 10px;
 width: 150px;
 font-size: 22px;
 border: 3px solid #ab6804;   
}

button{
    padding: 10px 20px;
    background-color: #ab6804;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
}

input[type="text"][readonly] {
 padding: 10px;
 margin-right: 10px;
 width: 150px;
 font-size: 22px;
 border: 3px solid #ab6804;
 }

 #resultados {
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
 }

 .imagen {
    float: right;
    margin: -10px 110px;
 }
