*{
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
}

#encabezado {
    text-align: center;
    margin-bottom: 25px;
    color: black;
    padding: 15px;
  }

.contenedor {
    width: 900px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    color: rgb(11, 12, 12);
    border-radius: 10px;
    border-width: 40px;
    background-color: rgb(195, 238, 251);
    text-align: left;
}

h1 {
    margin-bottom: 25px;
}


label {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    width: 200px;
  }

 select {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    width: 80px;
 } 



button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border:black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
}

img{
  width: 50px;
  height: 50px;  
}

