body {
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  #contenedor {
    width: 900px;
    height: 1200px;
    text-align: center;
    background-color: rgb(161, 161, 161);
    border-radius: 5px; /* seccion del fondo*/
  }
  
  #encabezado {
    margin-bottom: 25px;
    background-color: #21006e;
    color: #fff;
    padding: 15px;
  }
  
  h1 {
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
  }
  
  h2 {
    color: #ffffff;
    font-size: 18px;
  }
  
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  span {
    font-weight: bold;
  }
  
 